{{#each dogs}}
  <div class="card">
    <header class="card-header">
      <p class="card-header-title">{{this.name}}</p>
      <!-- Rest of the card header -->
    </header>
    <!-- Rest of the card content -->
  </div>
{{/each}}