  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/Assets/css/style.css">
</head>
<body>

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <img src="/Assets/Images/Logo.png" alt="FurEver Friends Logo">
    </div>
    <div class="navbar-center">
        <p class="title">FurEver Friends</p> 
    </div>
</nav>

<section class="section" style="background: url('/Assets/Images/HeroBackground.jpg') center / cover no-repeat;">
    <div class="container">
        <h1 class="title is-2 has-text-centered" style="color: white;">Welcome Back!</h1>
        <div class="card" style="margin: 0 auto; max-width: 70%;">
            <div class="card-content">
                <form class="login-form" action="/api/users/get-started-form" method="post">
                    <!-- Email field -->
                    <div class="field">
                        <label class="label" for="email">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-danger" type="email" name="email" id="email-login" required placeholder="Your Email">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        </div>
                    </div>
                    <!-- Password fields -->
                    <div class="field">
                        <label class="label" for="password">Password</label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" name="password" id="password-login" required placeholder="Your Password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                    </div>

                    <!-- Submit button -->
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-link">Login</button>
                        </div>
                        <div class="control">
                            <button id="signUpRedirect" type="reset" class="button is-link is-light">Sign Up</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const loginForm = document.querySelector('.login-form');
      loginForm.addEventListener('submit', (e) => {
        e.preventDefault();
        const email = document.getElementById('email-login').value;
        const password = document.getElementById('password-login').value;

      loginFormHandler(email, password);
      });
      
      async function loginFormHandler (email, password) {
        let response;
        if (email && password) {
          const response = await fetch('/api/users/login', {
            method: 'POST',
            body: JSON.stringify({ email, password }),
            headers: { 'Content-Type': 'application/json' }
          })
        } else {
          alert('Please enter a valid email and password');
          return;
        }


        // if (response.status === 400) {
        //  alert('Please enter a valid email and password');
        //  return;
        // }

        document.location.replace('/profile');
      }
    


      const signUpRedirect = document.getElementById('signUpRedirect');
      signUpRedirect.addEventListener('click', (e) => {
        e.preventDefault();
        window.location.href = '/getStarted';
      });
    });
  </script>

{{!-- <script src="./js/login.js"></script> --}}
</body>
</html>