<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Profile</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="/Assets/css/style.css"> <!-- Link to your custom CSS file -->
</head>
<body>
  <div class="container">
    <div class="welccard">
      <div class="card-content has-text-centered">
        <h2 class="welctitle">Welcome, {{user.name}}!</h2>
      </div>
      <footer class="card-footer">
        {{#if user.seniorDog}}
          <a href="/alldogs" class="card-footer-item savebutton is-primary is-large">See your matches!</a>
        {{else}}
          <a href="/dogs" class="card-footer-item savebutton is-primary is-large">See your matches!</a>
        {{/if}}
        <a href="/savedDogs" class="card-footer-item savebutton is-success is-large">See your saved dogs!</a>
      </footer>
    </div>
  </div>

  <script src="./js/profile.js"></script>
</body>
</html>


