  {{!-- <h2>Signup</h2> --}}

  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Information</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="/Assets/css/style.css">
</head>
<body>

<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <img src="/Assets/Images/Logo.png" alt="FurEver Friends Logo">
    </div>
    <div class="navbar-center">
        <p class="title">FurEver Friends</p> 
    </div>
</nav>

<section class="section" style="background: url('/Assets/Images/HeroBackground.jpg') center / cover no-repeat;">
    <div class="container">
        <h1 class="title is-2 has-text-centered" style="color: white;">Tell us a bit more about you so we can match you to the right fur-ever friend!</h1>
        <div class="card" style="margin: 0 auto; max-width: 70%;">
            <div class="card-content">
                <form id="get-started-form" action="/api/users/get-started-form" method="post">
                    <!-- Name field -->
                    <div class="field">
                        <label class="label" for="name">Name</label>
                        <div class="control">
                            <input class="input" type="text" name="name" id="name" required autocomplete="name">
                        </div>
                    </div>
                    <!-- Username field -->
                    <div class="field">
                        <label class="label" for="username">Username</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-success" type="text" name="username" id="username" required placeholder="Username">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-check"></i>
                            </span>
                        </div>
                        <p class="help is-success">This username is available</p>
                    </div>
                    <!-- Password fields -->
                    <div class="field">
                        <label class="label" for="password">Password</label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" name="password" id="password" required placeholder="Your Password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="reEnterPassword">Re-Enter Password</label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" name="reEnterPassword" id="reEnterPassword" required placeholder="Re-enter Your Password">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    <!-- Email field -->
                    <div class="field">
                        <label class="label" for="email">Email</label>
                        <div class="control has-icons-left has-icons-right">
                            <input class="input is-danger" type="email" name="email" id="email" required placeholder="Your Email">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <span class="icon is-small is-right">
                                <i class="fas fa-exclamation-triangle"></i>
                            </span>
                        </div>
                    </div>
                
                    
                    <!-- Are you interested in fostering a senior dog? -->
                    <div class="field">
                        <label class="label">Are You Interested in Fostering a Senior Dog?</label>
                        <div class="control">
                            <label class="radio">
                                <input type="radio" name="allowSenior" value="true" required>
                                Yes
                            </label>
                            <label class="radio">
                                <input type="radio" name="allowSenior" 
                                value="false" required>
                                No
                            </label>
                        </div>
                    </div>
                    <!-- Additional fields for need to be added here I think? --->
                

                    <!-- Submit button -->
                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-link">Submit</button>
                        </div>
                        <div class="control">
                            <button type="reset" class="button is-link is-light">Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script src="/js/users.js"></script>

</body>
</html>